#night-overlay, #pigeon-overlay, #crayon-overlay, #clifford-overlay, #bindergarten-overlay, #king-overlay, #chicka-overlay, #hungry-overlay, #classmate-overlay, #dragons-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0;
    z-index: 200;
}
/*Start Header*/

.bookshelf_container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,#FFEFD8, #FFE8F8);
}

.bookshelf_container_header {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookshelf_container_header_menu_container {
    width: 20%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.bookshelf_container_header_menu_container_img {
    position: absolute;
    z-index: 300;
    width: 35%;
    height: 80%;
    background-image: url(../img/Ellipse\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bookshelf_container_header_menu_container_info {
    position: absolute;
    z-index: 200;
    width: 90%;
    height: 63%;
    left: 20px;
    bottom: 12.2px;
    border-radius: 300px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bookshelf_container_header_menu_container_info > p {
    padding-left: 110px;
    font-family: 'Alatsi', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bookshelf_container_header_logout > form > input {
    width: 9vw;
    height: 5vh;
    border-radius: 300px;
    border: solid #FCB910 1px;
    margin-right: 100px;
    background-color: #FCB910;
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 200ms;
}

.bookshelf_container_header_logout > form > input:hover {
    width: 9vw;
    height: 5vh;
    border-radius: 300px;
    border: solid #FCB910 3px;
    margin-right: 100px;
    background-color: transparent;
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #FCB910;
}

/*End Header*/

.bookshelf-grid-container {
    height: 70%;
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.grid-item {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.book-title{
    position: relative;
    z-index: 400;
}

.book-1 {
    background: url(../img/pigeon_book.jpg);
    background-size: cover;
}

.book-2 {
    background: url(../img/nightbefore.jpg);
    background-size: cover;
}

.book-3 {
    background: url(../img/crayon.jpg);
    background-size: cover;
}

.book-4 {
    background: url(../img/miss-bindergarten-takes-a-field-trip-with-kindergarten.jpg);
    background-size: cover;
}

.book-5 {
    background: url(../img/king.jfif);
    background-size: cover;
}

.book-6 {
    background: url(../img/hicka.jpg);
    background-size: cover;
}

.book-7 {
    background: url(../img/hungry.jpg);
    background-size: cover;
}

.book-8 {
    background: url(../img/noeat.jpeg);
    background-size: cover;
}

.book-9 {
    background: url(../img/taco.jpg);
    background-size: cover;
}

.book-10 {
    background: url(../img/cliff.jpg);
    background-size: cover;
}

.grid-item > h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: transparent;
}