* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* home */
.home_wrapper {
  background-image: url(/src/img/WelcomeScreen.png);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
body {
  font-weight: 100;
  font-size: 16px;
  overflow-y: hidden;
}
a{
  text-decoration: none;
}
.home_header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 30px;
  width: 100%;
  height: 10%;
  font-family: 'Rubik', sans-serif;
}
.home_backgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  left: 0;
}
.nav-area {
  list-style: none;
}
.nav-area li {
  display: inline-block;
  font-size: 14px;
  padding: 0 18px;
  text-transform: uppercase;
}
.nav-area li a{
  transition: .3s;
  color: #000;
}
.flex1 {
  font-weight: 600;
}
.home_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
}
.btn-student {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 30px;
  border: #FFB703 solid 3px;
  border-radius: 52px;
  background: #FFB703;
  margin-top: 15%;
  font-family: 'Alatsi', sans-serif;
  transition: all 300ms;
}

.btn-student:hover {
  cursor: pointer;
  font-size: 18px;
  color: #FFB703;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 30px;
  border: #FFB703 solid 3px;
  border-radius: 52px;
  background: #ffb80300;
  margin-top: 15%;
  font-family: 'Alatsi', sans-serif;
}

.btn-parent-teacher {
  cursor: pointer;
  color: #616161;
  font-size: 12px;
  letter-spacing: 2;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 25px;
  font-family: 'Rubik', sans-serif;
}

.menuToggle{
  display: none;
}

/*Responsive Design
for iphone X, Xs, XR and 11
w - 414 px
h - 896 px
*/
@media only screen and (max-width: 600px) {

  .home_wrapper {
    background-image: url(/src/img/welcomeScreenM.png);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }

  .btn-student {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 18px 33px;
    border-radius: 52px;
    background: #FFB703;
    margin-top: 0;
    font-family: 'Alatsi', sans-serif;
  }

  .btn-parent-teacher {
    cursor: pointer;
    color: #616161;
    font-size: 15px;
    letter-spacing: 2;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 25px;
    font-family: 'Rubik', sans-serif;
  }

  .nav-area{
    display: none;
  }
}