* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-weight: 100;
    font-size: 16px;
    overflow-y: hidden;
}

.targetWord {
    transition: ease-in-out;
    transition-duration: 200ms;
}

.targetWord:hover {
    cursor: pointer;
    background-color: rgb(112, 255, 136);
}

a{
    text-decoration: none;
}

a:visited {
    color: black;
}

.base-page{
    background: linear-gradient(180deg, #FFFFFF 0%, #FFF8EE 103.24%), #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav {
    height: 100px;
    width: 100vw;
    background-color: white;
    filter: drop-shadow(0px 4px 40px rgba(184, 184, 184, 0.25));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    font-family: 'Alatsi', sans-serif;
    font-size: 24px;
}

.back-to-bookshelf {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.arrow {
    width: 28px;
    height: 28px;
    background-image: url("/src/img/arrow-left.png");
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}

.bookshelf_container_header_menu_container {
    width: 20%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.bookshelf_container_header_menu_container_img {
    position: absolute;
    z-index: 300;
    width: 35%;
    height: 80%;
    background-image: url(/src/img/Ellipse\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bookshelf_container_header_menu_container_info {
    z-index: 200;
    width: 90%;
    height: 63%;
    left: 5px;
    bottom: 12px;
    border-radius: 300px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bookshelf_container_header_menu_container_info > p {
    padding-left: 110px;
    font-family: 'Alatsi', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
}

.book {
    width: 90%;
    height: 95%;
}

.left-page {
    width: 50%;
    height: 100%;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.25);
    display: flex;
    justify-content: flex-end;
}

.left-page-middle {
    width: 95%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.25);
    display: flex;
    justify-content: flex-end;
}

.story-text-div {
    width: 95%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.25);
    position: relative;
}


.right-page {
    width: 50%;
    height: 100%;
    float: right;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(184, 184, 184, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-pic {
    width: 95%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(184, 184, 184, 0.25);
}

.story-top {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-mid {
    width: 100%;
    height:500px;
    padding-left: 10%;
    padding-right: 13%;
    overflow: scroll;
}

.story-mid::-webkit-scrollbar {
    display: none;
}

.volume-control {
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    background-color: #FFF8EF;
    text-transform: uppercase;
    font-family: 'Alatsi', sans-serif;
    margin-right: 50px;
    transition: ease-in-out 400ms;

}

.volume-control:hover {
    cursor: pointer;
    box-shadow: 0px 4px 9px 1px rgba(145, 112, 112, 0.17);
}

.story-title{
    font-family: 'Alatsi', sans-serif;
    font-size: 25px;
    margin-left: 10%;
}

.story-text {
    line-height: 60px;
}

.story-pic {
    margin-bottom: 100px;
    width: 80%;
    height: 50%;
    background: url(/src/img/LR_cover.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.highlight-line {
    background-color: rgb(255, 217, 0);
    width: 450px;
    height: 55px;
    margin-left: 10%;
    padding-left: 10%;
    padding-right: 10%;
    overflow: auto;
    
}

.story-mid, .highlight-line {
    position: absolute;
    /* top: 0; */
    left: 0;
}

audio {
    margin-right: 30px;
    width: 250px;
}

#story-scroll {
    text-align: left;
}


span {
    margin-right: 10px;
}

.targetWord {
    margin-right: 3px;
    display: inline-block;
}

#title {
    text-align: left;
}

.highlight-line {
    background-color: rgb(255, 217, 0);
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

#hidden_trigger{
    display: none;
}